* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(212, 212, 212);
}

main {
  height: 100vh;
}

.card {
  max-width: 250px;
  min-width: 250px;
  padding: 0px;
  margin: 0px;
}

.titlePages {
  padding: 15px;
  font-size: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formWidth {
  max-width: 600px;
}

/* CartPayForm */
.credit-card-div span {
  padding-top: 10px;
}

.credit-card-div img {
  padding-top: 30px;
}

.credit-card-div .small-font {
  font-size: 9px;
}

.credit-card-div .pad-adjust {
  padding-top: 10px;
}

/* BoardGamesCatalog.js */
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}