* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(212, 212, 212);
}

main {
  height: 100vh;
}

.card {
  max-width: 250px;
  min-width: 250px;
  padding: 0px;
  margin: 0px;
}

.titlePages {
  padding: 15px;
  font-size: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formWidth {
  max-width: 600px;
}

.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }